
<%if (state === 'front') { %>
	<%if (buysell == 'sell') { %>
		<div class="button <%= buysell %>"></div>
	<% } else { %>
	<div class="back open">
		<div class="header">
			<div class="cancel"></div>
			<div class="edit"></div>
			<div class="title"><%= buysell %> Nederland</div>
		</div>
		<div class="content">
				<div class="tickets">
					<!--<div class="arrowUp"></div>
					<div class="arrowDown"></div>-->
					<input type="text" value="10">
					<div class="label standardFont">tickets</div>
				</div>
				<div class="price">
					<!--<div class="arrowUp"></div>
					<div class="arrowDown"></div>-->
					<input type="text" value="10">
					<div class="label standardFont">price</div>
				</div>
		</div>
	</div>	
	<% } %>
<% } %>


<%if (state === 'back') { %>
	<div class="back">
		<div class="header">
			<div class="cancel"></div>
			<div class="title"><%= buysell %> Nederland</div>
		</div>
		<div class="content">
				<div class="button"></div>
				<div class="tickets">
					<div class="arrowUp"></div>
					<div class="arrowDown"></div>
					<input type="text" value="10">
					<div class="label standardFont">tickets</div>
				</div>
				<div class="price">
					<div class="arrowUp"></div>
					<div class="arrowDown"></div>
					<input type="text" value="10">
					<div class="label standardFont">price</div>
				</div>
		</div>
	</div>
<% } %>


<%if (state === 'loading') { %>
	<div class="button <%= buysell %>"></div>
<% } %>
