<div id="login">
	<div id="content">
		<input class="text" id="log_user" type="text" value="Username*">
		<div id="password_div1">
			<input type="text" id="log_pass_temp" class="log_men_top" value="Password*" size="20" maxlength="20">
		</div>
		<div id="password_div2" style="display: none">
			<input type="password" id="log_pass" class="log_men_top" value="" size="20" maxlength="20">
		</div>
		<button class="login"></button>
		<div class="small bold">
			YOU DON'T HAVE A USERNAME? PLEASE <a href="#" class="blue" id="link_register">REGISTER</a>.
		</div>
	</div>
	<div id="button" class="tab">
		<!-- whole button should be clickable, contents then rewritten -->
		<span class="content" class="largest blue t_dosis bold">
			LOGIN
		</span>
		<span class="arrow" class="log_arr_closed log_arr_open"></span>
	</div>
</div>





<div id="loggedin_men_top">
	<div class="left"></div>
	<div class="center">
		<div class="user t_dosis bold larger">
			WELCOME
			<span>
				TVMIL
			</span>
		</div>
		<div class="balance t_dosis bold larger">
			ACCOUNT
			BALANCE
			<span class="blue">		
				€ 
				<span id="topbalance" value="">
					loading...
				</span>
			</span>
		</div>
		<div class="logout t_dosis bold larger">
			<a href="#">
				<span id="logout" class="blue">
					LOGOUT
				</span>
			</a>
		</div>	
	</div>
	<div class="right"></div>
</div>